## SIKD Data Sanity Check

In [2]:
import psycopg2
import pandas as pd



# Establish a connection to the PostgreSQL database
conn = psycopg2.connect(
    host="34.101.72.155",
    port="5432",
    database="postgres",
    user="postgres",
    password="qwe123qwe"
)

In [48]:
try:
        
    # Create a cursor object to execute queries
    cursor = conn.cursor()

    # Write your SQL query
    # query = "SELECT * FROM sigit.jurnal limit 100;"
    query = "SELECT * FROM sigit.jurnal TABLESAMPLE SYSTEM_ROWS(100);"
    # query = """SELECT * FROM sigit.jurnal
    # WHERE 0.01 >= random()
    # LIMIT 1000;"""

    # Execute the query
    cursor.execute(query)

    # Fetch all the results
    results = cursor.fetchall()

    # Get the column names from the cursor's description
    columns = [desc[0] for desc in cursor.description]

    # Create a Pandas DataFrame from the query results and column names
    df = pd.DataFrame(results, columns=columns)
except Exception as e:
    conn.rollback()
    raise e

# Close the cursor and the connection
cursor.close()
# conn.close()

In [49]:
# Display the DataFrame
df.columns

Index(['tahun', 'bulan', 'kodedata', 'jeniscoa', 'namaaplikasi',
       'pengembangaplikasi', 'jenistransaksi', 'nomorbukti', 'tanggalbukti',
       'kodefungsi', 'namafungsi', 'kodesubfungsi', 'namasubfungsi',
       'kodeurusanprogram', 'namaurusanprogram', 'kodeurusanpelaksana',
       'namaurusanpelaksana', 'kodeskpd', 'namaskpd', 'kodeunitskpd',
       'namaunitskpd', 'kodeprogram', 'namaprogram', 'kodekegiatan',
       'namakegiatan', 'kodesubkegiatan', 'namasubkegiatan', 'kodeakunutama',
       'namaakunutama', 'kodeakunkelompok', 'namaakunkelompok',
       'kodeakunjenis', 'namaakunjenis', 'kodeakunobjek', 'namaakunobjek',
       'kodeakunrinci', 'namaakunrinci', 'kodeakunsubrinci',
       'namaakunsubrinci', 'nilaidebet', 'nilaikredit', 'kodeposting',
       'saldonormal', 'keterangan', 'catatan', 'node_id', 'status'],
      dtype='object')

In [45]:
df.pengembangaplikasi.nunique()

46

In [51]:
df.to_csv("random_100.csv")

## Ground Truth Preprocessing

In [62]:
import psycopg2
import pandas as pd
from sqlalchemy import text, create_engine
import psycopg2
import pandas as pd

# Establish a connection to the PostgreSQL database
conn = psycopg2.connect(
    host="localhost",
    port="5432",
    database="postgres",
    user="postgres",
    password="password"
)

## Akun

In [42]:
df = pd.read_excel("KMDN 50_5889 2021_Akun dan Program.xlsx")

In [54]:
# remove incomplete data
df_no_dup = df.dropna(subset=["Akun", "Kelompok", "Jenis", "Objek", "Rinc. Objek", "Sub Rinc. Objek"]).drop_duplicates()

# convert float to int for some columns
df_int_str = df_no_dup.astype({col: int for col in df_no_dup.columns[1:6]})

# convert all columns to be str
df_str = df_int_str.astype(str)

# remove multiple spaces in all columns
df_clean_space = df_str.replace('\s+', ' ', regex=True)

# reset index
df_clean_space.reset_index(drop=True, inplace=True)
df_clean_space.index += 1
df_reindexed = df_clean_space.reset_index()

# rename columns
new_columns = {
    'index':'id',
    'Akun':'akun',
    'Kelompok':'kelompok',
    'Jenis':'jenis',
    'Objek':'objek',
    'Rinc. Objek':'rincian_objek',
    'Sub Rinc. Objek':'sub_rincian_objek',
    'Uraian':'uraian',
    'standarsubrinci':'standar_sub_rinci'
}
df_renamed = df_reindexed.rename(columns=new_columns)

In [55]:
# # create engine
# engine = create_engine('postgresql://postgres:qwe123qwe@34.101.72.155:5432/postgres')
# create engine
engine = create_engine('postgresql://postgres:qwe123qwe@localhost:5432/postgres')

# insert to db
df_renamed.to_sql("ground_truth_akun", engine, index=False, if_exists='replace', method='multi')

62700

In [64]:
# add primary key
with engine.connect() as connection:
    connection.execute(text('ALTER TABLE ground_truth_akun ADD PRIMARY KEY (id);'))

## Program

In [65]:
df_program = pd.read_excel("KMDN 50_5889 2021_Akun dan Program.xlsx", sheet_name="Program")

In [70]:
# remove incomplete data
df_program_no_dup = df_program.dropna(subset=["kodekegiatan"]).drop_duplicates()

# remove rows that has X.XX value on kodebidang column
value_to_remove = 'X.XX'
df_program_dropped = df_program_no_dup[df_program_no_dup['kodebidang'] != value_to_remove]

# convert all columns to be str
df_program_str = df_program_dropped.astype(str)

# remove multiple spaces in all columns
df_program_clean_space = df_program_str.replace('\s+', ' ', regex=True)

# reset index
df_program_clean_space.reset_index(drop=True, inplace=True)
df_program_clean_space.index += 1
df_program_reindexed = df_program_clean_space.reset_index()


# rename columns
new_columns = {
    'index':'id',
    'jnspemda':'jenis_pemda',
    'kodefungsi':'kode_fungsi',
    'kodesubfungsi':'kode_sub_fungsi',
    'subfungsi':'sub_fungsi',
    'kodeurusan':'kode_urusan',
    'urusan/unsur':'urusan_unsur',
    'kodebidang':'kode_bidang',
    'uraibidang':'uraian_bidang',
    'kodeprogram':'kode_program',
    'uraiprogram':'uraian_program',
    'kodekegiatan':'kode_kegiatan',
    'uraikegiatan':'uraian_kegiatan',
    'kodesubkegiatan':'kode_sub_kegiatan',
    'uraisubkegiatan':'uraian_sub_kegiatan'
}

df_program_renamed = df_program_reindexed.rename(columns=new_columns)

In [71]:
# # create engine
# engine = create_engine('postgresql://postgres:qwe123qwe@34.101.72.155:5432/postgres')
# create engine
engine = create_engine('postgresql://postgres:qwe123qwe@localhost:5432/postgres')

# insert to db
df_program_renamed.to_sql("ground_truth_program", engine, index=False, if_exists='replace', method='multi')

4933

In [72]:
# add primary key
with engine.connect() as connection:
    connection.execute(text('ALTER TABLE ground_truth_program ADD PRIMARY KEY (id);'))

# ============

In [45]:
df_pyarrow = pd.read_csv("KMDN 50_5889 2021_Akun.csv", engine="pyarrow", dtype_backend="pyarrow")

In [46]:
df_pyarrow.size

455126

In [ ]:
df_pyarrow.to

In [4]:
df_pyarrow.columns

Index(['Akun', 'Kelompok', 'Jenis', 'Objek', 'Rinc. Objek', 'Sub Rinc. Objek',
       'Uraian', 'level1', 'level2', 'level3', 'level4', 'level5', 'level6',
       'standarsubrinci'],
      dtype='object')

In [5]:
df_pyarrow.dtypes

Akun               string[pyarrow]
Kelompok            int64[pyarrow]
Jenis               int64[pyarrow]
Objek               int64[pyarrow]
Rinc. Objek         int64[pyarrow]
Sub Rinc. Objek     int64[pyarrow]
Uraian             binary[pyarrow]
level1             string[pyarrow]
level2             string[pyarrow]
level3             string[pyarrow]
level4             binary[pyarrow]
level5             binary[pyarrow]
level6             binary[pyarrow]
standarsubrinci    binary[pyarrow]
dtype: object

In [23]:
df_pyarrow['level6'][0].decode('utf-8')

'level6'

In [24]:
df_pyarrow

,Akun,Kelompok,Jenis,Objek,Rinc. Objek,Sub Rinc. Objek,Uraian,level1,level2,level3,level4,level5,level6,standarsubrinci
0,1,<NA>,<NA>,<NA>,<NA>,<NA>,b'ASET',ASET,level2,level3,b'level4',b'level5',b'level6',b''
1,1,1,<NA>,<NA>,<NA>,<NA>,b'ASET LANCAR',ASET,ASET LANCAR,level3,b'level4',b'level5',b'level6',b''
2,1,1,1,<NA>,<NA>,<NA>,b'Kas dan Setara Kas',ASET,ASET LANCAR,Kas dan Setara Kas,b'level4',b'level5',b'level6',b''
3,1,1,1,1,<NA>,<NA>,b'Kas di Kas Daerah',ASET,ASET LANCAR,Kas dan Setara Kas,b'Kas di Kas Daerah',b'level5',b'level6',b''
4,1,1,1,1,1,<NA>,b'Kas di Kas Daerah',ASET,ASET LANCAR,Kas dan Setara Kas,b'Kas di Kas Daerah',b'Kas di Kas Daerah',b'level6',b''
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32504,8,4,<NA>,<NA>,<NA>,<NA>,b'BEBAN LUAR BIASA',BEBAN DAERAH,BEBAN LUAR BIASA,Defisit dari Kegiatan Non Operasional Lainnya-LO,b'Defisit Pelepasan Investasi Jangka Pendek-LO',b'Defisit Pelepasan Investasi Jangka Pendek-LO',b'Defisit Pelepa an Investa i Jangka Pendek-LO',b''
32505,8,4,1,<NA>,<NA>,<NA>,b'Beban Luar Biasa',BEBAN DAERAH,BEBAN LUAR BIASA,Beban Luar Biasa,b'Defisit Pelepasan Investasi Jangka Pendek-LO',b'Defisit Pelepasan Investasi Jangka Pendek-LO',b'Defisit Pelepa an Investa i Jangka Pendek-LO',b''
32506,8,4,1,1,<NA>,<NA>,b'Beban Tidak Terduga',BEBAN DAERAH,BEBAN LUAR BIASA,Beban Luar Biasa,b'Beban Tidak Terduga',b'Defisit Pelepasan Investasi Jangka Pendek-LO',b'Defisit Pelepa an Investa i Jangka Pendek-LO',b''
32507,8,4,1,1,1,<NA>,b'Beban Tidak Terduga',BEBAN DAERAH,BEBAN LUAR BIASA,Beban Luar Biasa,b'Beban Tidak Terduga',b'Beban Tidak Terduga',b'Defisit Pelepa an Investa i Jangka Pendek-LO',b''
32508,8,4,1,1,1,1,b'Beban Tidak Terduga',BEBAN DAERAH,BEBAN LUAR BIASA,Beban Luar Biasa,b'Beban Tidak Terduga',b'Beban Tidak Terduga',b'Beban Tidak Terduga',b'840101010001. Beban Tidak Terduga'

In [28]:
df_pyarrow_clean['level4'].apply(lambda x: x.decode('utf-8'))

UnicodeDecodeError: 'utf-8' codec can't decode byte 0x96 in position 41: invalid start byte

In [6]:
df_pyarrow.dtypes

Akun               string[pyarrow]
Kelompok            int64[pyarrow]
Jenis               int64[pyarrow]
Objek               int64[pyarrow]
Rinc. Objek         int64[pyarrow]
Sub Rinc. Objek     int64[pyarrow]
Uraian             binary[pyarrow]
level1             string[pyarrow]
level2             string[pyarrow]
level3             string[pyarrow]
level4             binary[pyarrow]
level5             binary[pyarrow]
level6             binary[pyarrow]
standarsubrinci    binary[pyarrow]
dtype: object

In [26]:
df_pyarrow_clean = df_pyarrow.dropna(subset=["Sub Rinc. Objek"])

In [20]:
df_pyarrow_clean.astype(str)

UnicodeDecodeError: 'ascii' codec can't decode byte 0x96 in position 123: ordinal not in range(128)

In [16]:
type(df_pyarrow_clean)

pandas.core.frame.DataFrame

In [17]:
import pyarrow as pa

In [ ]:
Akun               string[pyarrow]
Kelompok            int64[pyarrow]
Jenis               int64[pyarrow]
Objek               int64[pyarrow]
Rinc. Objek         int64[pyarrow]
Sub Rinc. Objek     int64[pyarrow]
Uraian             binary[pyarrow]
level1             string[pyarrow]
level2             string[pyarrow]
level3             string[pyarrow]
level4             binary[pyarrow]
level5             binary[pyarrow]
level6             binary[pyarrow]
standarsubrinci    binary[pyarrow]

In [18]:
schema = pa.schema([
    ('Akun', pa.string()),
    ('Kelompok', pa.string()),
    ('Jenis', pa.string()),
    ('Objek', pa.string()),
    ('Rinc. Objek', pa.string()),
    ('Sub Rinc. Objek', pa.string()),
    ('Uraian', pa.string()),
    ('level1', pa.string()),
    ('level2', pa.string()),
    ('level3', pa.string()),
    ('level4', pa.string()),
    ('level5', pa.string()),
    ('level6', pa.string()),
    ('standarsubrinci', pa.string())
])

In [19]:
b = pa.Table.from_pandas(df_pyarrow_clean, schema=schema, preserve_index=True)

ArrowInvalid: Invalid UTF8 payload